@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url(./images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: 100% 60%;
	background-color: hsl(230, 100%, 99%);
	font-family: 'Manrope', sans-serif;
	display: flex;
	justify-content: center;
}

#range-slider::-webkit-slider-thumb {
	/* -webkit-appearance: none; */
	background-color: hsl(174, 86%, 45%);
	background-image: url("/public/images/icon-slider.svg");
	padding: 0.8rem;
	border-radius: 20px;
	border: none;
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgba(146, 145, 145, 0.1));
}

#range-slider::-moz-range-thumb {
	/* -webkit-appearance: none; */
	background: hsl(174, 86%, 45%) url("/public/images/icon-slider.svg") center no-repeat;
	padding: 0.8rem;
	border-radius: 20px;
	border: none;
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 14px 7px rgba(146, 145, 145, 0.1));
}

#range-slider::-webkit-slider-thumb:active {
	/* -webkit-appearance: none; */
	background: hsl(174, 85%, 34%) url("/public/images/icon-slider.svg") center no-repeat;
	padding: 0.8rem;
	border-radius: 20px;
	border: none;
	cursor: grabbing;
}

#range-slider::-moz-range-thumb:active {
	/* -webkit-appearance: none; */
	background: hsl(174, 85%, 34%) url("/public/images/icon-slider.svg") center no-repeat;
	padding: 0.8rem;
	border-radius: 20px;
	border: none;
	cursor: grabbing;
}
  
input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0;
}

input[type="range"]:active {
	cursor: grabbing;
  }

.slider:before {
position: absolute;
content: "";
height: 14px;
width: 14px;
left: 5px;
bottom: 5px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 16px;
}

input[type=checkbox]:checked + .slider:before {
-webkit-transform: translateX(20px);
-ms-transform: translateX(20px);
transform: translateX(20px);
}